{% render 'partials/head.liquid' %}

  <header class="card">
    <h1>{{ person.name }}</h1>
    <img src="" alt="foto van roxy">
    <h2>Front-end design and development Student</h2>
    <h1>{{ person.name }}</h1>
  </header>

  <article class="box-1-ice-hockey">
    <img src="/slapping-studs.jpg" alt="foto van het ijshockey de stallions van de studenten vereneging Studs uit enschede">
    <h3>Slapping studs</h3>
    <p>Stallions team 2024</p>    
  </article>    

  <figure class="box-2-birthdate">
    <figcaption>05-01-2000</figcaption>
    <img src="/foto-als-kind.jpg" alt="foto van roxy als kind">
  </figure>    

  <a class="box-3-more" href=""><img src="" alt=""></a>

  <article class="box-4-travel">
    <img src="/tuktuk.jpg" alt="foto van het tuktuk / reizen slide show">
    <h3>Waar ik graag ben?</h3>
    <p>overal!</p>
    <button><a href="https://www.polarsteps.com/RoxyFokker"></a>Polarsteps</button>
  </article>

  <article class="box-5-car">
    <h3>waar ik in rij</h3>
    <p>Opel Kadett 1974</p>
    <img src="/opel-kadett.jpg" alt="">
  </article>

  <article class="box-6-place">
    <h3>waar ik woon</h3>
    <p>Hengelo</p>
    <img src="s/markant-deldenerstraat.jpg" alt="foto van villa markant">
  </article>

{% render 'partials/foot.liquid' %}
